
<div class="row">
	<span id="title-primary">Add user<span> <span id="title-secondary">our next task-slayer</span>
</div>

<form name="addUserForm" novalidate>
  Name <span id="required">*</span>
	<div class="row">
		<div class="form-group">
	    <div class="small-7 columns">
			  <input ng-model="name" name="name" type="text" class="form-control" required>
				<p ng-show="addUserForm.name.$invalid" class="help-block">A name is required.</p>
	    </div>
		</div>
	</div>
  Email <span id="required">*</span>
  <div class="row">
		<div class="form-group">
	    <div class="small-7 columns">
	      <input ng-model="email" name="email" type="email" class="form-control" required>
				<p ng-show="addUserForm.email.$invalid" class="help-block">An email is required.</p>
	    </div>
		</div>
  </div>
	<div class="row text-center">
    <div class="small-7 text-center columns">
		  <button id="submit" class="button info" ng-click="addUser()">Submit</button>
    </div>
	</div>
</form>


{{status}}
