<div class="row">
	<span id="title-primary">User Profile<span> <span id="title-secondary">just like Facebook but better</span>
</div><br>

<div class="row">
  <div class="small-6 columns"><h2>{{user.name}}</h2></div>
  <div class="small-6 columns"><h2>{{user.email}}</h2></div>
</div>

<div class="row">
  <p id="title-primary">Pending Tasks</p>
</div>

<ul>
  <li ng-repeat="task in taskList">
      <div class="row">
        <div class="small-4 columns"><a ng-href="#/tasks/{{task._id}}">{{task.name}}</a></div>
        <div class="small-4 columns text-center">Deadline: {{task.deadline}}</div>
        <div class="small-4 columns text-right"><button class="secondary button" ng-click="completeTask(task._id)">Completed</button></div>
      </div>
  </li>
</ul>
