<div class="row">
	<span id="title-primary">Tasks<span> <span id="title-secondary">really important stuff</span>
	<a class="success button float-right" ng-href="#/addtask">Add Task</a><br>
</div>

<div class="row">
	<div class="small-4 columns">
		<form>
			<input type="radio" name="taskStatus" ng-click="taskType = false" checked> Pending
			<input type="radio" name="taskStatus" ng-click="taskType = true"> Complete
			<input type="radio" name="taskStatus" ng-click="taskType = undefined"> All
		</form>
	</div>
	<div class="small-4 columns">
		Sort by:
		<select ng-model="sortBy">
      <option value="dateCreated">dateCreated</option>
      <option value="deadline">deadline</option>
			<option value="name">name</option>
			<option value="assignedUserName">assignedUserName</option>
    </select>
	</div>
	<div class="small-3 columns">
		<form>
			<input type="radio" name="sortOrder" ng-click="direction=1" checked> Ascending<br>
			<input type="radio" name="sortOrder" ng-click="direction=-1"> Descending
		</form>
	</div>
</div>

<div class="row">
	<div class="small-6 columns text-left"><button id="prev-task-button" class="disabled button" ng-click="prevPage()">Previous</button></div>
	<div class="small-6 columns text-right"><button id="next-task-button" class="secondary button" ng-click="nextPage()">Next</button></div>
</div>

<ul>
  <li ng-repeat="task in taskList">
      <div class="row">
        <div class="small-6 columns"><a ng-href="#/tasks/{{task._id}}">{{task.name}}</a></div>
        <div class="small-3 columns text-right">Deadline: {{task.deadline}}<br>Assigned to {{task.assignedUserName}}.</div>
        <div class="small-3 columns text-right"><button class="alert button" ng-click="removeTask(task._id)">Delete</button></div>
      </div>
  </li>
</ul>
